<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<div class="ui action input">
  <!-- So you like to use a input variable in a method?
       Create an id using '#variableName' and then assign it to your click event using 'variableName.value' -->
  <input #alpha type="text" value="Username">
  <button class="ui teal right labeled icon button" (click)="doGET(alpha.value)">
    <i class="search icon"></i>
    Search
  </button>
</div>
<p></p>
<p *ngIf="response != null">{{ response.args | json }}</p>
<p *ngIf="response != null">The Username is: {{ response.args.username | json }}</p>